<section class="hero-section" id="hero">
  <div class="hero-container">
    <div class="hero-text">
      <p class="title">Helix GPO</p>
      <p class="slogan">Die DNA Deines Unternehmens</p>
      <p class="description">
        Wir gestalten die Prozesse in <br />
        Deinem Unternehmen mithilfe modernster <br />
        Maßnahmen der Geschäftsprozessoptimierung <br />
        <strong>effizient</strong>, <strong>effektiv</strong> und
        <strong>digital!</strong>
      </p>
      <div class="button-links">
        <button
          class="button-link starten-link"
          (click)="scrollToElementByButton('cta')"
        >
          Jetzt Starten
        </button>
        <button
          class="button-link info-link"
          (click)="scrollToElementByButton('dienstleistung')"
        >
          Mehr Erfahren
        </button>
      </div>
    </div>
    <div class="hero-picture">
      <img
        class="hero-image"
        src="/images/hero-picture.png"
        alt="Helix GPO Hero Image"
      />
    </div>
  </div>
</section>

<section class="dienstleistung-section" id="dienstleistung">
  <div class="dienstleistung-container">
    <p class="headline-p">Nutze</p>
    <h1 class="headline-text">Unsere Dienstleistung</h1>
    <div class="dienstleistung-grid">
      <div class="analyze-step">
        <img
          class="dienstleistung-icon"
          src="images/icons/analyze blue.png"
          alt="Icon"
        />
        <p class="step-headline">
          Prozesse analysieren, Digitalisierungspotenziale erkennen
          <br />
          und nachhaltige Lösungen entwickeln
        </p>
        <p class="step-text">
          Eine fundierte Analyse ist der Schlüssel für effiziente und
          <br />
          zukunftsfähige Prozesse!
        </p>
      </div>
      <div class="standard-step">
        <img
          class="dienstleistung-icon"
          src="images/icons/standard blue.png"
          alt="Icon"
        />
        <p class="step-headline">
          Einheitliche Prozesse schaffen, um Effizienz, Schulung und
          <br />
          Skalierbarkeit zu verbessern
        </p>
        <p class="step-text">
          Standardisierte Abläufe erleichtern Schulungen und fördern
          <br />
          nachhaltige Unternehmensentwicklung!
        </p>
      </div>
      <div class="optimize-step">
        <img
          class="dienstleistung-icon"
          src="images/icons/progress blue.png"
          alt="Icon"
        />
        <p class="step-headline">
          Geschäftsprozesse effizienter, digitaler und
          <br />
          leistungsstärker gestalten
        </p>
        <p class="step-text">
          Wir optimieren Abläufe durch Digitalisierung, Automatisierung und
          <br />
          individuelle Prozessanpassung!
        </p>
      </div>
      <div class="support-step">
        <img
          class="dienstleistung-icon"
          src="images/icons/service blue.png"
          alt="Icon"
        />
        <p class="step-headline">
          Langfristige Begleitung für nachhaltige Prozess- und
          <br />
          Softwareentwicklung
        </p>
        <p class="step-text">
          Wir sind Ihr Partner für kontinuierliche Verbesserung und
          <br />
          digitale Innovation!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-us-section" id="about-us">
  <div class="about-us-container">
    <p class="headline-p">Infos</p>
    <h1 class="headline-text">Über Uns</h1>
    <div class="about-us-content">
      <div class="about-us-info">
        <p class="why-gp">Warum Geschäftsprozessmanagement?</p>
        <p class="gp-text">
          Unternehmen verlieren jedes Jahr bis zu 30% ihres Umsatzes - nur durch
          ineffiziente Prozesse. Das geht besser! Mit smartem
          Prozessmanagemement gestalten wir Abläufe effizienter, digitaler und
          zukunftssicher.
        </p>
        <p class="gp-text-professional">
          Professionell, persönlich und auf Augenhöhe!
        </p>
        <div class="button-links">
          <button
            class="button-link starten-link"
            (click)="scrollToElementByButton('cta')"
          >
            Jetzt Starten
          </button>
          <button
            class="button-link info-link"
            (click)="scrollToElementByButton('angebote')"
          >
            Mehr Erfahren
          </button>
        </div>
      </div>
      <div>
        <div class="info-content first-content">
          <div class="profile-image">
            <img
              src="images/logo-black-no-bg.svg"
              alt="Profilbild - Henry Heller"
            />
            <div class="hover-overlay"></div>
            <div class="work">
              Professioneller Finanzdienstleister mit fundierter Erfahrung bei
              der Fonds Finanz, FME und Klann Group
            </div>
          </div>
          <div>
            <p class="name">Henry Heller</p>
            <p class="role role-henry">Strategie & Kommunikation</p>
          </div>
        </div>
        <div class="info-content">
          <div class="profile-image">
            <img
              src="images/logo-black-no-bg.svg"
              alt="Profilbild - Felix Breuer"
            />
            <div class="hover-overlay"></div>
            <div class="work">
              Softwareentwickler mit Abschluss in Wirtschaftsinformatik (B.Sc.)
              aus dem dualen Studium bei 3M
            </div>
          </div>
          <div>
            <p class="name">Felix Breuer</p>
            <p class="role role-felix">Digitalisierung & Technologie</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="angebote-section" id="angebote">
  <div class="angebote-container">
    <p class="headline-p">Entdecke</p>
    <h1 class="headline-text">Unsere Angebote</h1>
    <div class="angebote">
      <div class="card">
        <div class="card-image">
          <img
            src="images/angebote/Automation.jpg"
            alt="Prozessoptimierung - Bild"
          />
        </div>
        <div class="content">
          <p class="card-headline">Prozessoptimierung</p>
          <div class="part-angebot">
            <img
              src="images/angebote/Prozessoptimierung/analyse.png"
              alt="Icon Analyse"
            />
            <p>Prozessanalyse</p>
          </div>
          <div class="part-angebot">
            <img
              src="images/angebote/Prozessoptimierung/automatisierung.png"
              alt="Icon Automatisierung"
            />
            <p>Automatisierung</p>
          </div>
          <div class="part-angebot">
            <img
              src="images/angebote/Prozessoptimierung/effizienz.png"
              alt="Icon Effizienz"
            />
            <p>Effizienz steigern</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="images/angebote/Software.jpg" alt="Software & Web - Bild" />
        </div>
        <div class="content">
          <p class="card-headline">Software & Web</p>
          <div class="part-angebot">
            <img
              src="images/angebote/Software & Web/source code.png"
              alt="Icon Software/Code"
            />
            <p>Individualsoftware</p>
          </div>
          <div class="part-angebot">
            <img
              src="images/angebote/Software & Web/web design.png"
              alt="Icon Webdesign"
            />
            <p>Webdesign</p>
          </div>
          <div class="part-angebot">
            <img
              src="images/angebote/Software & Web/security.png"
              alt="Icon IT-Sicherheit"
            />
            <p>IT-Sicherheit</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img
            src="images/angebote/Monitoring.jpg"
            alt="Monitoring & Steuerung - Bild"
          />
        </div>
        <div class="content">
          <p class="card-headline">Monitoring & Steuerung</p>
          <div class="part-angebot">
            <img
              src="images/angebote/Monitoring & Steuerung/monitoring.png"
              alt="Icon Monitoring"
            />
            <p>Prozessmonitoring</p>
          </div>
          <div class="part-angebot">
            <img
              src="images/angebote/Monitoring & Steuerung/optimierung.png"
              alt="Icon Optimierung"
            />
            <p>Optimierung</p>
          </div>
          <div class="part-angebot">
            <img
              src="images/angebote/Monitoring & Steuerung/skalierbarkeit.png"
              alt="Icon Skalierbarkeit"
            />
            <p>Skalierbarkeit</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img
            src="images/angebote/Strategy.jpg"
            alt="Strategie & Entwicklung - Bild"
          />
        </div>
        <div class="content">
          <p class="card-headline">Strategie & Entwicklung</p>
          <div class="part-angebot">
            <img
              src="images/angebote/Strategie & Transformation/workflow.png"
              alt="Icon Workflow"
            />
            <p>Workflowintegration</p>
          </div>
          <div class="part-angebot">
            <img
              src="images/angebote/Strategie & Transformation/struktur.png"
              alt="Icon Struktur"
            />
            <p>Struktur</p>
          </div>
          <div class="part-angebot">
            <img
              src="images/angebote/Strategie & Transformation/nachhaltig.png"
              alt="Icon Nachhaltigkeit"
            />
            <p>Nachhaltigkeit</p>
          </div>
        </div>
      </div>
    </div>
    <p class="angebot-text">
      Jedes Unternehmen hat <strong>individuelle Anforderungen</strong> -
      deshalb entwickeln wir maßgeschneiderte Lösungen und Konditionen.
    </p>
    <p class="angebot-text">
      Die Preise sind nicht pauschal, sondern richten sich jeweils nach Projekt
      und entsprechendem Umfang.
    </p>
  </div>
</section>

<section class="projects-section" id="projects">
  <div class="projects-container">
    <p class="headline-p">Erkunde</p>
    <h1 class="headline-text">Bisherige Projekte</h1>
    <p class="coming-soon">Coming soon ...</p>
  </div>
</section>

<section class="testimonials-section" id="testimonials">
  <div class="testimonials-container">
    <p class="headline-p">Vertraue</p>
    <h1 class="headline-text">Referenzen</h1>
    <p class="coming-soon">Coming soon ...</p>
  </div>
</section>

<section class="cta-section" id="cta">
  <div class="cta-container">
    <p class="headline-p">Jetzt</p>
    <h1 class="headline-text">Kontakt Aufnehmen</h1>
    <p class="cta-text">
      Kontaktiere uns auf einem Kanal deiner Wahl und vereinbare einen
      kostenlosen Ersttermin!
    </p>
    <div class="channels">
      <div class="channel">
        <img src="images/cta/email.png" alt="Icon - Email" />
        <p class="channel-title">Email</p>
        <p class="channel-text">Schreib uns, wir melden uns zeitnah zurück!</p>
        <p class="channel-value">helix.gpo&#64;gmail.com</p>
      </div>
      <div class="channel">
        <img src="images/cta/phone.png" alt="Icon - Telefon" />
        <p class="channel-title">Telefon</p>
        <p class="channel-text">Direkt anrufen und persönlich sprechen.</p>
        <p class="channel-value">+49 1511 4924348</p>
      </div>
      <div class="channel">
        <img src="images/cta/office location.png" alt="Icon - Büro" />
        <p class="channel-title">Büro</p>
        <p class="channel-text">Persönlich vor Ort oder per Online-Meeting.</p>
        <p class="channel-value">Markt 11, 41460 Neuss - Deutschland</p>
      </div>
    </div>
  </div>
</section>
